* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: lightblue;
}

.conteudo {
    width: 1024px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}


.time {
    margin-left: 20px;
}

.linha {
    display: flex;
    flex-direction: row;
}

header section {
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav ul li a {
    margin: 0px 15px;
    color: aliceblue;
}

.botao {
    padding: 5px 30px;
    border-radius: 10px;
}

.botao .botao-destaque {
    background-color: mediumaquamarine;
    color: aliceblue;
    border-radius: 10px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    
}


.sobre {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    text-align: center;
    
}

.sobre article {
    width: 350px;
    margin-right: 20,px;
}

.sobre article h1 {
    font-size: 70px;
    line-height: 90%;
    font-weight: 400;
    color: lightsalmon;
}

.sobre article h2,
.sobre article p,
.sobre article h4 {
    color: lightcoral;
}

.sobre article h2 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 200%;
}

.sobre article p {
    margin: 10px 0 40px;
}

.sobre figcaption img {
    width: 700px;
    border-radius: 10%;
    
}

.sobre ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sobre ul li {
    margin: 0px 15px;
    color: aliceblue;
}


footer ul li {
    display: inline-block;
    margin-top: 20px;
}

footer ul li a img {
    width: 30px;

    
}


@media (max-width: 1150px) {
    .conteudo {
        width: 950px;
    }
    
}

@media(max-width: 1024px) {
    .conteudo {
        width: 850px;
    }

    .sobre figcaption img{
        width: 600px;
    }
}

@media(max-width: 915px) {
    .conteudo {
        width: 600px;
    }

    .linha {
        flex-direction: column;
    }
    header nav {
        margin: 30px 0;
    }

    .sobre article {
        width: 100%;
    }
    .sobre figcaption img {
        width: 100%;
        margin: 30px 0 0 0;
    }
    footer .linha {
        flex-direction: row;
        justify-content: center;
    }
}

@media(max-width: 665px) {
    .conteudo {
        width: 400px;
    }
}

@media(max-width: 450px) {
    .conteudo {
        width: 290px;
    }

    header nav {
        width: 100%;
        padding: 10px 0 20px;
        flex-direction: column;
        margin: 10px 0;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

}

fieldset {
    width: 110%;
    padding: 10px 0 20px;
    margin-left: 10px;
    border: 2px solid lightgreen;
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
    text-align: left;
}

.agrupamento {
    display: flex;
    flex-direction: column; flex-direction: column;
}

.agrupamento-botao {
    padding-top: 10px;
}

.entrada{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.15;
    border: 2px solid lightgreen;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

.entrada:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgb(173, 216,230, 0.5);
}

.entrada.mensagem {
    resize: none;
}

.rotulo {
    padding-bottom: 2.5px;
    padding-top: 20px;
    font-weight: 600;
}

